<select name="navigator" id="navigator" class="block w-full rounded-md bg-white/5 px-3 py-2 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
    <option value="">- - -</option>      
    {% for navigator in navigators  %}
        <option value="{{navigator.id}}"
        {% if estagio.id == dados_form.navigator %}
            selected
        {% endif %}
        >{{navigator.nome}}</option>  
    {% endfor %}
</select>