{% extends "base.html" %}
{% load static %}
{% block 'title' %}Tarefa{% endblock 'title' %}

{% block 'body' %}
<main>
    <header class="relative isolate pt-16 bg-[#0b1526] border-b-1 border-slate-500">
      <div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
        <div class="absolute left-16 top-full -mt-16 transform-gpu opacity-50 blur-3xl xl:left-1/2 xl:-ml-80">
          <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#FF80B5] to-[#9089FC]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
        </div>
        <div class="absolute inset-x-0 bottom-0 h-px bg-gray-900/5"></div>
      </div>
      <div>
      <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 ">
        <div class="mx-auto flex max-w-2xl items-center justify-between gap-x-8 lg:mx-0 lg:max-w-none">
          <div class="flex items-center gap-x-6">
            <img src="{% if mentorado.foto %}{{mentorado.foto.url}}{% endif %}" alt="Foto do mentorado" class="size-16 flex-none rounded-full ring-1 ring-gray-900/10">
            <h1>
              <div class="mt-1 text-base font-semibold text-gray-200">{{mentorado}}</div>
              <div class="text-sm/6 text-gray-500">{{mentorado.get_estagio_display}}</div>
            </h1>
          </div>
        
          </div>
        </div>
      </div>
    </div>
    </header>
    <div class="bg-[#05101d] min-h-screen">
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="w-1/2">
                {% include "partials/messages.html" %}
            </div>
            <div class="mx-auto flex max-w-2xl gap-8 sm:flex-col lg:mx-0 lg:max-w-none lg:flex-row-reverse">
                <!-- Invoice summary -->
                <div class="lg:basis-[40vw]">
                    <div class="rounded-lg shadow-sm ring-1 ring-white/20 bg-[#0b1526]">
                        <div class="flex flex-wrap">
                            <div class="flex-auto px-6 pt-6">
                                <h2 class="text-2xl/9 font-semibold tracking-tight text-gray-100">Reuniões</h2>
                                <div class="grid grid-cols-4 gap-5 mt-2 mb-4">
                                    <div class="col-span-3">
                                    <form action="{% url 'upload' mentorado.id %}" method="POST" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <input type="file" name="video" class="block w-full rounded-md bg-white/5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6 file:bg-indigo-600 file:py-1.5 file:px-2 hover:file:bg-indigo-500 file:cursor-pointer cursor-pointer" required>
                                    </div>
                                    <div>
                                        <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Adicionar</button>
                                    </form>
                                    </div>

                                </div>
                                
                            </div>
                            
                            
                            {% for video in videos %}
                                <div class="flex w-full flex-none gap-x-4 border-t border-gray-50/10 px-6 py-6">
                                    <dt class="flex-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-5 text-gray-400">
                                        <path d="M4.5 4.5a3 3 0 0 0-3 3v9a3 3 0 0 0 3 3h8.25a3 3 0 0 0 3-3v-9a3 3 0 0 0-3-3H4.5ZM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06Z" />
                                        </svg>
                                        
                                        
                                    </dt>
                                    <dd class="text-sm/6 font-medium text-blue-400"><a href="{{video.video.url}}" target="_blank">{{video.mentorado}}</a></dd><p class="text-sm/6 text-white">10 - 5</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Invoice -->
                <div class="lg:basis-[60vw]">
                    <div class="rounded-lg shadow-sm ring-1 ring-white/20 bg-[#0b1526]">
                        <div class="flex flex-wrap">
                            <div class="flex-auto px-6 pt-6">
                                <h2 class="text-2xl/9 font-bold tracking-tight text-gray-100">Tarefas do mentorado</h2>
                                
                                
                                <div class="grid grid-cols-4 gap-5 mt-2 mb-4">
                                
                                    <div class="col-span-3">
                                        <form action="{% url 'tarefa_adicionar' mentorado.id %}" method="POST">{% csrf_token %}
                                        <input type="text" name="tarefa" autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" placeholder="Tarefas..." required>
                                    </div>
                                    <div>
                                        <button type="submit" class="flex w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Adicionar</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="border-px border-slate-800">
                            <div class="flex flex-col border-t border-gray-50/10 w-full p-6">
                                {% for tarefa in tarefas %} 
                                <div class="flex items-center mb-4">
                                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-300 dark:text-gray-300">{{tarefa.tarefa}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock 'body' %}
